
@font-face {
    font-family: "Lufga Regular";
    src: url(./fontes/LufgaRegular.ttf);
}

@font-face {
    font-family: "Lufga Bold";
    src: url(.//fontes/LufgaBold.ttf);
}

* {
    font-family: "Lufga Regular";
    color: #fff;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

.banner {
    width: 100vw;
    height: 324px;
}

.container {
    height: 100%;
    background: linear-gradient(147deg, #17101C 68.49%, #644079 91.01%, #B176D3 116.1%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

.foto-rebecca img {
    float: left;
    padding: 0 10% 10% 0;
}

.name {
    font-family: "Lufga Bold";
    color: #fff;
    font-size: 48px;
}

.about {
    font-family: "Lufga Bold";
    color: #fff;
    font-size: 48px;
}

.age {
    font-family: "Lufga Regular";
    color: #fff;
    font-size: 35px;
}

.btn-voltar a {
    color: #BC04FE;
}

.btn-experiencia a {
    border-radius: 26px;
    border: 1px solid #BC04FE;
    background: rgba(217, 217, 217, 0.00);
    width: 100%;
    height: 35px;
    flex-shrink: 0;
    color: #BC04FE;
}