@font-face {
  font-family: "Lufga Regular";
  src: url("../../assets/fonts/lufga/LufgaRegular");
  font-family: "Lufga Bold";
  src: url("../../../assets/fonts/lufga/LufgaBold.ttf");
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(147deg, #17101C 68.49%, #644079 91.01%, #B176D3 116.1%);
}

* {
  font-family: "Lufga Regular";
  color: #FFF;
}

.banner {
  width: 100%;
  height: 324px;
}
.banner img{
  width: 100%;
  height: 324px;
}

.container {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.infos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 70%;
  height: 70%;
}

.img-principal img{
  width: 70%;
  margin: 0 20% 0 20% ;
}

.dados-pessoais {
  width: 60%;
}

.dados-pessoais h1 {
  font-family: "Lufga Bold";
  margin: 0;

}
.formacoes, .experiencias{
  margin: 30px 0 ;
}

.formacoes p, .formacoes span, .experiencias p, .experiencias span{
  margin: 0;
}

.formacoes span{
  font-size: 12px;
  letter-spacing: 2px;
}

@media (max-width: 900px) {
  .infos {
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }

  .img-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .img-principal img {
    width: 50%;
    margin: 5% 20%;
  }

  .dados-pessoais,
  .formacoes,
  .experiencias {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .dados-pessoais h1{
    font-size: 26px;
  }
  .formacoes,
  .experiencias{
    font-size: 14px;
  }

}
footer {
  font-family: "Lufga Regular";
  font-size: 14px;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

footer p {
  text-align: left;
}

footer img {
  width: 20%;
  
}