@font-face {
    font-family: "Lufga Regular";
    src: url(./fontes/LufgaRegular.ttf);
}

@font-face {
    font-family: "Lufga Bold";
    src: url(.//fontes/LufgaBold.ttf);
}

* {
    font-family: "Lufga Regular";
    color: #fff;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

.banner {
    width: 100vw;
    height: 324px;
}

.container {
    height: 100%;
    background: linear-gradient(147deg, #17101C 68.49%, #644079 91.01%, #B176D3 116.1%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagem-rebecca img {
    float: left;
    padding: 0 10% 10% 0;
}

.sobre {
    font-family: "Lufga Bold";
    color: #fff;
    font-size: 16px;
}

.btn-voltar a {
    color: #BC04FE;
}
