@font-face {
  font-family: "Lufga Regular";
  src: url("../../assets/fonts/lufga/LufgaRegular.ttf");
  font-family: "Lufga Bold";
  src: url("../../assets/fonts/lufga/LufgaBold.ttf");
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(147deg, #17101C 68.49%, #644079 91.01%, #B176D3 116.1%);
}

* {
  font-family: "Lufga Regular";
  color: #FFF;
}

.banner {
  width: 100%;
  height: 324px;
}

.banner img {
  width: 100%;
  height: 324px
}

.container {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

.infos {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
}

.dados-pessoais {
  width: 50%;
}

.dados-pessoais h1 {
  font-family: "Lufga Bold";
  margin: 0;

}

#idade {
  font-size: 32px;
  margin: 10px 0 30px 0;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 23%;
  margin: 0 0 3% 0;
}

.btn-experiencia {
  border-radius: 26px;
  border: 1px solid #BC04FE;
  background: #BC04FE;
  font-size: 15px;
  font-family: "Lufga Regular";
  text-decoration: none;
  width: 40%;
  height: 35px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-experiencia:hover
  {
    border-radius: 26px;
    border: 1px solid #7f04ab;
    background: #7f04ab;
    width: 40%;
    height: 35px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

.img-principal img{
  width: 70%;
  margin: 0 20% 0 20%;
}

.voltar{
padding: 2%;
}

@media (max-width: 500px) {
  .infos {
    flex-wrap: wrap;
  }
  .dados-pessoais{
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  .dados-pessoais h1 {
    font-size: 24px;
    text-align: center;
  }
  #idade{
    text-align: center; 
    font-size: 20px;
  }
  .icons{
    width: 100%;
  }
  .btn-experiencia{
    width: 100%;
    font-size: 14px;
    margin: 10px 0 ;
  }
}

@media (max-width: 950px) {
  .infos {
    flex-wrap: wrap;
  }
  .img-principal img {
    width: 60%;
    margin: 0 20% 0 20%;
  }
  .dados-pessoais{
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  .dados-pessoais h1 {
    font-size: 24px;
    text-align: center;
  }
  #idade{
    font-size: 20px;
    text-align: center;
  }
  .icons{
    width: 100%;
    justify-content: space-evenly;
  }  
  .sobre{
    text-align: justify;
  }
  .btn-experiencia{
    width: 100%;
    margin: 20px 0;
  }
  
}

footer {
  font-family: "Lufga Regular";
  font-size: 14px;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

footer p {
  text-align: left;
}

footer img {
  width: 20%;
  
}